


<div class="row">
  <div class="col-sm-6">
    <h1>Fixes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_fix_path, class: 'btn btn-primary' do %>
    Add New Fix
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Type</th>
            <th>Code</th>
            <th>Chi name</th>
            <th>Is active?</th>
            
      </tr>
    </thead>

    <tbody>
      <% @fixes.each do |fix| %>
        <%= content_tag :tr, id: dom_id(fix), class: dom_class(fix) do %>
          
            <td><%= link_to fix.name, fix %></td>
          

                      <td><%= fix.type %></td>
                      <td><%= fix.code %></td>
                      <td><%= fix.chi_name %></td>
                      <td><%= fix.is_active? %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
